<div class="modal" *ngIf="isOpen">
    <div class="modal-overlay" (click)="closeModal()"></div>
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeModal()">X</button>
  
      <div class="form-container">
        <div *ngIf="isRegister">
          <h2>Register</h2>
          <form (submit)="submitRegister(); $event.preventDefault()">
            <label for="id">ID:</label>
            <input type="text" id="id" [(ngModel)]="id" name="id" required>
  
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="name" name="name" required>
  
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required>
  
            <label for="email_verified_at">Email Verified At:</label>
            <input type="text" id="email_verified_at" [(ngModel)]="email_verified_at" name="email_verified_at">
  
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
  
            <label for="telefon">Telefon:</label>
            <input type="tel" id="telefon" [(ngModel)]="telefon" name="telefon">
  
            <label for="data_naixement">Date of Birth:</label>
            <input type="date" id="data_naixement" [(ngModel)]="data_naixement" name="data_naixement">
  
            <label for="foto_perfil">Profile Picture:</label>
            <input type="file" id="foto_perfil" (change)="onFileChange($event)" name="foto_perfil">
  
            <button type="submit">Register</button>
          </form>
        </div>
  
        <div *ngIf="!isRegister">
          <h2>Login</h2>
          <form (submit)="submitLogin(); $event.preventDefault()">  
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required>
  
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
  
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  