<footer class="footer">
  <div class="footer-left">
    <img src="uploads/logo/logo.png" alt="Tourney Master Logo" class="logo" />
    <h3>© 2025 Tourney Master</h3>
  </div>
  <div class="footer-right">
    <a href="https://discord.com" target="_blank" aria-label="Discord" >
      <img src="https://images-eds-ssl.xboxlive.com/image?url=4rt9.lXDC4H_93laV1_eHHFT949fUipzkiFOBH3fAiZZUCdYojwUyX2aTonS1aIwMrx6NUIsHfUHSLzjGJFxxsG72wAo9EWJR4yQWyJJaDb6rYcBtJvTvH3UoAS4JFNDaxGhmKNaMwgElLURlRFeVkLCjkfnXmWtINWZIrPGYq0-&format=source" alt="Discord" class="redonda"/>
    </a>
    <a href="https://x.com" target="_blank" aria-label="X/Twitter">
      <img src="https://play-lh.googleusercontent.com/XyI6Hyz9AFg7E_joVzX2zh6CpWm9B2DG2JuEz5meCFVm4-wTKTnHgqbmg62iFKe4Gzca" alt="X" class="redonda"/>
    </a>
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <img src="https://store-images.s-microsoft.com/image/apps.30645.9007199266245907.cb06f1f9-9154-408e-b4ef-d19f2325893b.ac3b465e-4384-42a8-9142-901c0405e1bc" alt="Facebook" class="redonda"/>
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/960px-Instagram_logo_2022.svg.png" alt="Instagram" />
    </a>
  </div>
</footer>