<div class="panel panel-primary">
    <div *ngIf="equips.length == 0">
        <h4>No hi ha equip</h4>
    </div>

    <div *ngIf="equips.length > 0" class="table-responsive">
        <!-- Aquí mostramos la información del equipo seleccionado, si existe -->
        <div *ngIf="selectedEquip">
            <div class="div1">
                <div class="imatge">
                    <img [src]="selectedEquip.foto_equip" alt="Imatge de l'equip" height="30%" width="30%">
                </div>
                <div class="equip">
                    <h2>{{ selectedEquip.nom }}</h2>
                    <h3>{{ selectedEquip.descripcio }}</h3>
                </div>
                <div class="trofeus">
                    <p>Regió: {{ selectedEquip.regio }}</p>
                    <p>Trofeus: {{ selectedEquip.trofeus }}</p>
                    <p>Creació: {{ selectedEquip.data_creacio }}</p>
                </div>
            </div>
        </div>

        <!-- Tabla de todos los equipos -->
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Usuari</th>
                    <th>Trofeus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equip of equips" (click)="onSelectEquip(equip.id)">
                    <td><img [src]="equip.foto_equip" alt="Imatge del usuari" height="30%" width="30%"></td>
                    <td>{{ equip.nom }}</td>
                    <td>{{ equip.trofeus }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
