<header class="sticky top-0 z-50 backdrop-blur-md border-b border-slate-800">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <!-- Logo y título a la izquierda -->
        <div class="flex items-center gap-3">
            <div class="logo-container">
                <img [src]="'http://127.0.0.1:8000/uploads/logo/logo.png'" class="logo" alt="TourneyMaster Logo" />
            </div>
            <span class="site-title">TourneyMaster</span>
        </div>

        <!-- Navbar centrado -->
        <ng-container *ngIf="tokenService.isAuthenticated()">
            <nav class="hidden md:flex items-center gap-8">
                <a routerLink="/welcome" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">
                    <span>Inici</span>
                </a>
                <a routerLink="/torneig-list" routerLinkActive="nav-active" class="nav-link">
                    <span>Tornejos</span>
                </a>
                <a routerLink="/clasificacio-list" routerLinkActive="nav-active" class="nav-link">
                    <span>Classificació</span>
                </a>
                <a routerLink="/equip-list" routerLinkActive="nav-active" class="nav-link">
                    <span>Equip</span>
                </a>
            </nav>
        </ng-container>

        <ng-container *ngIf="!tokenService.isAuthenticated()">
            <nav class="hidden md:flex items-center gap-8">
                <a routerLink="/welcome" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">
                    <span>Inici</span>
                </a>
                <a routerLink="/torneig-list" class="nav-link-locked">
                    <span>Tornejos</span>
                    <i class="fi fi-rr-lock lock-icon"></i>
                </a>
                <a routerLink="/clasificacio-list" class="nav-link-locked">
                    <span>Classificació</span>
                    <i class="fi fi-rr-lock lock-icon"></i>
                </a>
                <a routerLink="/equip-list" class="nav-link-locked">
                    <span>Equip</span>
                    <i class="fi fi-rr-lock lock-icon"></i>
                </a>
            </nav>
        </ng-container>

        <!-- Botones de usuario -->
        <ng-container *ngIf="!tokenService.isAuthenticated()">
            <div class="flex items-center gap-4">
                <a routerLink="/signup" class="auth-button">
                    Registrar-se
                </a>
                <a routerLink="/login" class="auth-button">
                    Iniciar Sessió
                </a>
            </div>
        </ng-container>

        <ng-container *ngIf="tokenService.isAuthenticated()">
            <div class="flex items-center gap-4">
                <div class="trophy-badge">
                    <!-- <span>{{ tokenService.getUserTrofeus() }}</span> -->
                    <span>{{ trofeus }}</span>

                    <i class="fi fi-sr-trophy-star trophy-icon"></i>
                </div>
                <span class="username">{{ tokenService.getUserName() }}</span>
                <div class="profile-wrapper">
                    <img *ngIf="user.foto_perfil" [src]="'http://127.0.0.1:8000/uploads/fotoUsuari/' + user.foto_perfil"
                        class="profile-img" [alt]="user.name || 'Usuario'" (click)="toggleMenu()" />

                    <!-- Submenú -->
                    <div class="sub-menu-wrap" [ngClass]="{ 'menu-active' : isMenuOpen }" id="subMenu">
                        <div class="dropdown-content">
                            <div class="user-info">
                                <img [src]="'http://127.0.0.1:8000/uploads/fotoUsuari/' + user.foto_perfil">
                                <h3>{{ tokenService.getFullName() }}</h3>
                            </div>
                            <div class="menu-divider"></div>

                            <a routerLink="/user-edit" class="menu-item">
                                <div class="item-icon">
                                    <img [src]="'uploads/iconos/usuario.png'" />
                                </div>
                                <p>Editar Cuenta</p>
                                <span class="item-arrow">›</span>
                            </a>
                            <a href="#" class="menu-item">
                                <div class="item-icon">
                                    <img [src]="'uploads/iconos/ajustes.png'" />
                                </div>
                                <p>Gestionar Usuarios</p>
                                <span class="item-arrow">›</span>
                            </a>
                            <a routerLink="/torneig-new" class="menu-item">
                                <div class="item-icon">
                                    <img [src]="'uploads/iconos/mas.png'" />
                                </div>
                                <p>Crear Torneo</p>
                                <span class="item-arrow">›</span>
                            </a>
                            <a routerLink="/equip-new" class="menu-item" *ngIf="trofeus >= 1000 && !equip">
                                <div class="item-icon">
                                    <img [src]="'uploads/iconos/mas.png'" />
                                </div>
                                <p>Crear Equip</p>
                                <span class="item-arrow">›</span>
                            </a>

                            <a (click)="logout()" class="menu-item logout-item">
                                <div class="item-icon logout-icon">
                                    <img [src]="'uploads/iconos/energia-red.png'" />
                                </div>
                                <p>Cerrar Sesión</p>
                                <span class="item-arrow">›</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</header>