<!-- Navbar adaptado al estilo de TorneyMaster -->
<nav class="backdrop-blur-md gradient-bg">
    <div class="max-w-screen-xl flex flex-wrap justify-between items-center mx-auto p-4">
        <!-- Logo -->
        <a href="/welcome" class="flex items-center space-x-3 rtl:space-x-reverse no-underline">
            <img [src]="'http://127.0.0.1:8000/uploads/logo/logo.png'" class="h-8 logo" alt="Flowbite Logo" />
            <span
                class="self-center text-2xl font-semibold whitespace-nowrap text-gray-800 dark:text-white">TorneyMaster</span>
        </a>

        <!-- Info de contacto y login -->
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <ng-container *ngIf="!tokenService.isAuthenticated()">
                <a routerLink="/signup"
                    class="nav-button register-btn text-white font-semibold py-2 px-6 bg-gradient-to-r from-blue-500 to-teal-500 rounded-md shadow-lg hover:from-blue-600 hover:to-teal-600 transition duration-300 ease-in-out">
                    Register
                </a>
                <a routerLink="/login"
                    class="nav-button login-btn text-white font-semibold py-2 px-6 bg-gradient-to-r from-blue-500 to-teal-500 rounded-md shadow-lg hover:from-blue-600 hover:to-teal-600 transition duration-300 ease-in-out">
                    Login
                </a>
            </ng-container>
            <ng-container *ngIf="tokenService.isAuthenticated()">
                <a (click)="logout()"
                    class="nav-button logout-btn text-white font-semibold py-2 px-6 bg-gradient-to-r from-blue-500 to-teal-500 rounded-md shadow-lg hover:from-blue-600 hover:to-teal-600 transition duration-300 ease-in-out">
                    Logout
                </a>
                <a class="text-white font-semibold py-2 px-6 rounded-md bg-gray-600/75 hover:bg-gray-700/75">
                    {{ tokenService.getUserTrofeus() }} <i style="color:goldenrod" class="fi fi-sr-trophy-star"></i>
                </a>
                <a class="text-white font-semibold py-2">
                    {{ tokenService.getUserName() }}
                </a>
                <img *ngIf="user.foto_perfil" [src]="'http://127.0.0.1:8000/uploads/fotoUsuari/' + user.foto_perfil"
                    class="h-8 perfil" [alt]="user.name || 'Usuario'" (click)="toggleMenu()" />

                <div class="sub-menu-wrap" [ngClass]="{ 'open-menu' : isMenuOpen }" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img class="perfil" [src]="'http://127.0.0.1:8000/uploads/fotoUsuari/' + user.foto_perfil">
                            <h2>{{ tokenService.getUserName() }}</h2>
                        </div>
                        <hr/>

                        <a href="#" class="sub-menu-link">
                            <img [src]="'uploads/iconos/usuario.png'" />
                            <p>Editar Cuenta</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img [src]="'uploads/iconos/ajustes.png'" />
                            <p>Gestionar Usuarios</p>
                            <span>></span>
                        </a>
                        <a href="#" style="color: #FF0000" class="sub-menu-link">
                            <img [src]="'uploads/iconos/energia-red.png'" />
                            <p>Cerrar Sesión</p>
                            <span>></span>
                        </a>
                    </div>
                </div>

            </ng-container>
        </div>
    </div>
</nav>

<!-- Navbar inferior adaptado con estilo gaming en hover -->
<nav class="bg-transparent dark:bg-transparent">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center justify-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a routerLink="/welcome" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                        class="text-white dark:text-white font-bold transition duration-300 ease-in-out gaming-link active-link">
                        Home
                    </a>
                </li>
                <ng-container *ngIf="!tokenService.isAuthenticated()">
                    <li>
                        <a routerLink="/torneig-list" routerLinkActive="active-link"
                            class="locked-link font-bold transition duration-300 ease-in-out gaming-link">
                            Torneig <i class="fi fi-rr-lock"></i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/clasificacio-list" routerLinkActive="active-link"
                            class="locked-link font-bold transition duration-300 ease-in-out gaming-link">
                            Classificació <i class="fi fi-rr-lock"></i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/equip-list" routerLinkActive="active-link"
                            class="locked-link font-bold transition duration-300 ease-in-out gaming-link">
                            Equip <i class="fi fi-rr-lock"></i>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="tokenService.isAuthenticated()">
                    <li>
                        <a routerLink="/torneig-list" routerLinkActive="active-link"
                            class="text-white dark:text-white font-bold transition duration-300 ease-in-out gaming-link">
                            Torneig
                        </a>
                    </li>
                    <li>
                        <a routerLink="/clasificacio-list" routerLinkActive="active-link"
                            class="text-white dark:text-white font-bold transition duration-300 ease-in-out gaming-link">
                            Classificació
                        </a>
                    </li>
                    <li>
                        <a routerLink="/equip-list" routerLinkActive="active-link"
                            class="text-white dark:text-white font-bold transition duration-300 ease-in-out gaming-link">
                            Equip
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>