<!-- Botones para alternar entre Individual y Col·lectiu -->
<div class="buttons">
    <button (click)="toggleView('individual')">Individual</button>
    <button (click)="toggleView('collective')">Col·lectiu</button>
  </div>
  
  <!-- Tabla de Clasificación Individual -->
  <div *ngIf="showIndividual">

    <h3>Clasificación Individual</h3>
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nom</th>
          <th>Trofeos</th>
          <th>Equip</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of individualData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.user_name }}</td>
          <td>{{ item.trofeus }}</td>
          <td>{{ item.nom }}</td>
        </tr>        
      </tbody>
    </table>
  </div>
  
  <!-- Tabla de Clasificación Col·lectiva -->
  <div *ngIf="!showIndividual">
    <h3>Clasificación Col·lectiva</h3>
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre Equipo</th>
          <th>Trofeos</th>
          <th>Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collectiveData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.trofeus }}</td>
          <td>{{ item.regio }}</td>
        </tr>        
      </tbody>
    </table>
  </div>
  