:root {
  --section-width: 90%; /* Ancho del carrusel en pantallas grandes */
  --section-margin-left: 15%;
}

@media (max-width: 768px) {
  :root {
    --section-width: 90%; /* Aumentar el ancho para pantallas más pequeñas */
    --section-margin-left: 5%; /* Reducir margen */
  }
}

@media (max-width: 576px) {
  :root {
    --section-width: 300px; /* Ancho fijo para pantallas muy pequeñas */
    --section-margin-left: 0%; /* Eliminar margen en pantallas pequeñas */
  }
}

.carousel,
.features-container,
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--section-width);
  margin-left: var(--section-margin-left);
}

.carousel {
  display: flex;
  justify-content: center; /* Centra el carrusel */
  align-items: center; /* Centra el contenido dentro del carrusel */
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  width: 80%;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-item img {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: 450px; /* La altura será fija para todas las imágenes */
  object-fit: fill; /* La imagen llenará el contenedor sin deformarse */
  border-radius: 12px; /* Esquinas redondeadas */
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 250px; /* Ajustar la altura para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 200px; /* Ajustar la altura para pantallas más pequeñas */
  }
}

.carousel-fade .carousel-item {
  transition: opacity 1s ease-in-out;
}

.features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea */
  justify-content: space-between; /* Espacio entre los elementos */
  margin-top: 100px;
  margin-bottom: 40px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
  width: 30%; /* Puedes ajustar el tamaño de las tarjetas */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.feature-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.users-icon {
  background-color: #e9d5ff;
  color: #9333ea;
}

.trophy-icon {
  background-color: #dcfce7;
  color: #16a34a;
}

.chart-icon {
  background-color: #ffedd5;
  color: #ea580c;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-card p,
p {
  color: white;
}

.card {
  display: flex;
  flex-direction: column; /* Permite que el acordeón se apile */
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

p-accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p-accordion-header {
  font-size: 22px;
  padding: 16px;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  p-accordion-header {
    font-size: 18px;
    padding: 12px;
  }
}

p-accordion-content {
  padding: 16px;
  font-size: 16px;
}

@media (max-width: 768px) {
  p-accordion-content {
    font-size: 14px; /* Ajuste en pantallas más pequeñas */
  }
}

p-accordion-header .p-accordion-icon {
  color: white;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 250px; /* Ajustar la altura para pantallas más pequeñas */
  }

  .features-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .feature-card {
    width: 100%; /* Las tarjetas se expanden para ocupar todo el ancho */
    padding: 16px; /* Ajustar el padding */
  }
}


