<div class="torneig-cards">
  <div *ngFor="let torneig of torneigs" class="torneig-card" (click)="mostrarDetalls(torneig)">
    <img [src]="'http://127.0.0.1:8000/uploads/fotoJocs/' + torneig.joc_foto" alt="">
    <div class="torneig-info">
      <h3>{{ torneig.nom }}</h3>
      <p><strong>Estat:</strong> {{ torneig.estat }}</p>
      <p><strong>Partides:</strong> {{ torneig.quantitat_partides }}</p>
      <p><strong>Participants:</strong> {{ torneig.participants }}</p>
      <p><strong>Tipus:</strong> {{ torneig.tipus }}</p>

      <ng-container *ngIf="estaTorneoDeshabilitado(torneig); else showJoinButton">
        <p class="torneo-no-disponible">Torneo no disponible</p>
      </ng-container>
      
      <ng-template #showJoinButton>
        <button class="join-btn" (click)="unirseTorneig(torneig.id); $event.stopPropagation()">
          Unir-me
        </button>
      </ng-template>
      
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="selectedTorneig">
  <div class="modal-content">
    <span class="close-btn" (click)="tancarModal()">×</span>
    <h2>{{ selectedTorneig.nom }}</h2>
    <div class="divider"></div>

    <ng-container *ngIf="selectedTorneig.numero_equips === 2">
      <div class="modal-flex-container">

        <div class="modal-info">
          <img [src]="'http://127.0.0.1:8000/uploads/mapes/' + selectedTorneig.nom_mapa" alt="{{ selectedTorneig.nom_mapa }}" />
          <p><strong>Estat:</strong> {{ selectedTorneig.estat }}</p>
          <p><strong>Partides:</strong> {{ selectedTorneig.quantitat_partides }}</p>
          <p><strong>Participants:</strong> {{ selectedTorneig.participants }}</p>
          <p><strong>Tipus:</strong> {{ selectedTorneig.tipus }}</p>
          <p><strong>Descripció:</strong> {{ selectedTorneig.mode_joc }}</p>
          <p><strong>Recompensa:</strong> {{ selectedTorneig.premi_valor }}
            <i style="color:goldenrod" class="fi fi-sr-trophy-star"></i>
          </p>
        </div>

        <div class="modal-dreta">
          <div class="marcador-container marcador-principal">
            <div class="equipo marcador-izquierda">
              <div class="puntos">{{ getTotalPuntos(1) }}</div>
              <div class="nombre">{{ selectedTorneig.equips[0].nom || 'Equip 1' }}</div>
            </div>
            <div class="equipo marcador-derecha">
              <div class="puntos">{{ getTotalPuntos(2) }}</div>
              <div class="nombre">{{ selectedTorneig.equips[1].nom || 'Equip 2' }}</div>
            </div>
          </div>

          <div class="contenedor-partidas">
            <div *ngFor="let partida of selectedTorneig.partides" class="marcador-secundario">
              <div class="marcador-container marcador_partida">
                <div class="equipo marcador-izquierda">
                  <div class="puntos" [ngClass]="{'ganador': partida.resultat_equip_id === 1}">
                    <span *ngIf="partida.resultat_equip_id === 1" style="font-size: 20px;">Ganador</span>
                  </div>
                </div>

                <div class="marcador-info-central">
                  <div class="partida-numero">Partida {{ partida.posicio_partida || '-' }}</div>
                  <div class="hora">{{ partida.data_hora || 'Hora no definida' }}</div>
                </div>

                <div class="equipo marcador-derecha">
                  <div class="puntos" [ngClass]="{'ganador': partida.resultat_equip_id === 2}">
                    <span *ngIf="partida.resultat_equip_id === 2" style="font-size: 20px;">Ganador</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedTorneig.numero_equips > 2">
      <div class="modal-flex-container">

        <div class="modal-info">
          <img src="uploads/mapes/{{ selectedTorneig.nom_mapa }}" alt="{{ selectedTorneig.nom_mapa }}" />
          <p><strong>Estat:</strong> {{ selectedTorneig.estat }}</p>
          <p><strong>Partides:</strong> {{ selectedTorneig.quantitat_partides }}</p>
          <p><strong>Participants:</strong> {{ selectedTorneig.participants }}</p>
          <p><strong>Tipus:</strong> {{ selectedTorneig.tipus }}</p>
          <p><strong>Descripció:</strong> {{ selectedTorneig.mode_joc }}</p>
          <p><strong>Recompensa:</strong> {{ selectedTorneig.premi_valor }}
            <i class="fi fi-rr-lock"></i>
          </p>
        </div>

        <div class="modal-dreta">
          <ol class="classificacio">
            <li *ngFor="let equip of equipsOrdenats; let i = index">
              <span class="position">{{ i + 1 }}</span>
              <span class="team-name">{{ equip.nom }}</span>
              <span class="team-points">
                {{ getTotalPuntos(equip.id) }}
              </span>
              <span class="team-points">
                {{ getTrofeusPerEquip(equip.id) }} <img src="uploads/logo/estrella-del-trofeo.png"
                  style="width: 20px;height: auto; display: inline; vertical-align: middle;" />
              </span>
              <img src="uploads/fotosEquips/{{equip.foto_equip}}" alt="{{equip.nom}}" />
            </li>
          </ol>
        </div>
      </div>
    </ng-container>
  </div>
</div>



<!--

tambien necssito que el usuario se añada a torneo 

equips_users
	1	id Primaria	bigint		UNSIGNED	No	Ninguna		AUTO_INCREMENT	Cambiar Cambiar	Eliminar Eliminar	
Más Más
	2	equip_id Índice	bigint		UNSIGNED	Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	3	user_id Índice	bigint		UNSIGNED	Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	4	created_at	timestamp			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	5	updated_at	timestamp			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
Para los elementos que están marcados:  Seleccionar todo Para los elementos que están marcados:          
Imprimir Imprimir Hacer seguimiento a la tabla Hacer seguimiento a la tabla Mover columnas Mover columnas Normalizar Normalizar
Añadir columna  Agregar 
1
 columna(s)   
después de updated_at
 
Índices Documentación
Acción	Nombre de la clave	Tipo	Único	Empaquetado	Columna	Cardinalidad	Cotejamiento	Nulo	Comentario
Editar Editar	Rename Rename	Eliminar Eliminar	PRIMARY	BTREE	Sí	No	id	8	A	No	
Editar Editar	Rename Rename	Eliminar Eliminar	equips_users_equip_id_foreign	BTREE	No	No	equip_id	6	A	Sí	
Editar Editar	Rename Rename	Eliminar Eliminar	equips_users_user_id_foreign	BTREE	No	No	user_id	4	A	Sí	


-->